<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag 'http://i.imgur.com/qliOhvp.jpg' %>
	</div>

	<div id="content">
		<h1>Hey, I'm Michael J. Stokes</h1>
		<p>Welcome to my blog in Rails 4</p>
		<p>This is my first blog ever built</p>
		<p>If you like to see more of my work then visit my website at <a href="http://mjstokes.com">mjstokes.com</a></p>
	</div>
</div>